@tailwind base;
@tailwind components;
@tailwind utilities;

.uploadcare--button, .uploadcare--button:hover, .uploadcare--widget__button, .uploadcare--widget__button:hover {
  outline: none !important;
  background-color: blueviolet;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
